PhotoGalleryASP/PhotoGallery.Client/PhotoGallery.Client.Reference/Service References/PhotoGalleryServ/PhotoGalleryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PhotoGallery.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PhotoGallery.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserRegisterDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRegisterDto" nillable="true" type="tns:UserRegisterDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="UserInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoDto" nillable="true" type="tns:UserInfoDto" />
  <xs:complexType name="PhotoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageRating" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentUserRating" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element minOccurs="0" name="PhotoOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoDto" nillable="true" type="tns:PhotoDto" />
  <xs:complexType name="ArrayOfPhotoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoDto" nillable="true" type="tns:PhotoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoDto" nillable="true" type="tns:ArrayOfPhotoDto" />
  <xs:complexType name="PhotoInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoInfoDto" nillable="true" type="tns:PhotoInfoDto" />
</xs:schema>