PhotoGalleryASP/PhotoGallery.Client/PhotoGallery.Client.Reference/Service References/PhotoGalleryServ/PhotoGalleryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PhotoGalleryWcfService.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PhotoGalleryWcfService.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceValidationError" nillable="true" type="tns:ServiceValidationError" />
  <xs:complexType name="ServiceDataError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceDataError" nillable="true" type="tns:ServiceDataError" />
</xs:schema>